# Node.js dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Coverage output
coverage/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache files
.npm
.eslintcache
.DS_Store
.turbo